@use 'sass:map';
@import 'incarnateColors.scss';
.headerBar{
    width: calc(100vw - 3rem);
}
#titleMain{
    display:none;
}
.outer-container{
    height:100vh;
}
#navbarSupportedContent{
    display:none;
    margin-left:auto;
}
#navbarSupportedContent.expanded{
    display:block;
}
.dark-bg a{
    color: var(--light);
}
.ers-flex-grow{
    flex:1;
}
.ers-dynamic-flex-direction{
    flex-direction: column;
}
.ers-image{
    max-width: 70vw;
    max-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
//Responsive parts
@media (min-width: 700px) and (orientation:landscape){
    #titleAbbreviation{
        display:none;
    }
    #titleMain{
        display:block;
    }
    #nav-expand-btn{
        display:none
    }
    #navbarSupportedContent{
        display:flex;
        flex-direction: row;
        margin-left: unset;
        margin-right:auto;
        button{
            margin-left:0.2em;
            margin-right:0.2em;
        }
    }
    #navbarSupportedContent.expanded{
        display:flex;
    }
    #navbarSupportedContent > div > ul{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .ers-dynamic-flex-direction{
        flex-direction: row;
    }
}